

.landing-page{
    /* border:1px solid red; */
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.land-left-sec, .land-right-sec{
    width:40%;
    height:90%;
    /* border:1px solid red; */
}

.land-left-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:20px 0px;
}

.work-avail{
    width:33%;
    height: 5%;
    /* padding:5px; */
    margin-top: 50px;
    /* border:1px solid red; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #865fca92;
}

.work-avail p{
    font-size: 12px;
}

.Me{
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 30px;
}

.span-1{
    color:#74fe65
}

.span-2{
    color:#898989
}

.hook-text{
    font-weight: 100;
}

.land-btn{
    /* border:1px solid red; */
    width:45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:10%;
    padding:10px 0px
}

.land-right-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-img{
    width:90%;
    height:90%;
    /* border:1px solid red; */
    background-image: url('../../assets/Coding-Workspace.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}