

.landing-page{
    /* border:1px solid red; */
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.land-left-sec, .land-right-sec{
    width:40%;
    height:90%;
    /* border:1px solid red; */
}

.land-left-sec{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:20px 0px;
}

.work-avail{
    width:33%;
    height: 5%;
    /* padding:5px; */
    margin-top: 50px;
    /* border:1px solid red; */
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #865fca92;
}

.work-avail p{
    font-size: 12px;
}

.Me{
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 30px;
}

.span-1{
    color:#74fe65
}

.span-2{
    color:#898989
}

.hook-text{
    font-weight: 100;
}

.land-btn{
    /* border:1px solid red; */
    width:45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:10%;
    padding:10px 0px
}

.land-right-sec{
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-img{
    width:90%;
    height:90%;
    /* border:1px solid red; */
    background-image: url('../../assets/Coding-Workspace.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

/* ================= MOBILE RESPONSIVE ================= */
@media (max-width: 768px) {
    .landing-page {
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        padding: 40px 0;
        min-height: 100vh;
    }

    .land-left-sec, .land-right-sec {
        width: 100%;
        height: auto;
        padding: 0 20px;
    }

    .land-left-sec {
        justify-content: flex-start;
        gap: 30px;
    }

    .work-avail {
        width: 50%;
        margin-top: 20px;
    }

    .Me {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 20px;
    }

    .hook-text {
        font-size: 16px;
        line-height: 1.6;
    }

    .land-btn {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 12px;
    }

    .land-btn button {
        width: 100%;
    }

    .intro-img {
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .landing-page {
        padding: 30px 0;
    }

    .land-left-sec, .land-right-sec {
        padding: 0 16px;
    }

    .work-avail {
        width: 60%;
        margin-top: 15px;
        font-size: 10px;
    }

    .work-avail p {
        font-size: 10px;
    }

    .Me {
        font-size: 28px;
        line-height: 34px;
        margin-bottom: 16px;
    }

    .span-1, .span-2 {
        font-size: 24px;
    }

    .hook-text {
        font-size: 14px;
        line-height: 1.5;
    }

    .intro-img {
        height: 250px;
    }
}