@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');


.nav {
    width: 100vw;
    height: 10vh;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: #020403;
}

#me {
    color: aliceblue;
    font-family: "Federant", serif;
    font-weight: 400;
    font-style: normal;

}

.nav-link-box {
    width: 30%;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border:1px solid red; */
    width: 40%;
    font-family: "Federant", serif;
    font-weight: 400;
    font-style: normal;

}

.navlinks a {
    text-decoration: none;
    color: aliceblue;
}

.contact-btn {
    font-family: "Federant", serif;
    font-weight: 400;
    font-style: normal;
}