@import url("https://fonts.googleapis.com/css2?family=Federant&display=swap");

.nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #020403;
  position: relative;
}

#me {
  color: aliceblue;
  font-family: "Federant", serif;
}

.nav-link-box {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navlinks {
  display: flex;
  gap: 24px;
  font-family: "Federant", serif;
}

.navlinks a {
  text-decoration: none;
  color: aliceblue;
}

/* HAMBURGER BUTTON */
.menu-btn {
  display: none;
  color: white;
}

/* MOBILE MENU */
.mobile-menu {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: #020403;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  z-index: 100;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* RESPONSIVE RULES */
@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}
